nav#navbar.navbar
      a.logo.d-flex.align-items-center(href="index.html")
        img(src="assets/img/logo.webp" width="167" height="67" alt="Logo Inovação Formativa")
      ul
        li
          a.active(href="index.html") Home
        li.dropdown
          a(href="inovacao_formativa.html")
            span Inovação Formativa
            i.bi.bi-chevron-down.dropdown-indicator
          ul
            li
              a.mobile-navbar(href="alunos.html") Alunos
            li
              a.mobile-navbar(href="docentes.html") Docentes
        li
          a(href="empresas_organizacoes.html") Empresas e Organizações
        li
          a(href="equipa_if.html") Equipa IF
        li
          a(href="contactos.html") Contactos