extends ../4templates/base
include ../3organisms/section_banner

block pageTitle
  title Contactos | Inovação Formativa

block sectionBanner
  +sectionOrganism("MANTÉM-TE","CONECTADO","", "assets/img/contactos.webp")

  block contactosSection
    include ../3organisms/contactos_section


