extends ../4templates/base
include ../3organisms/section_banner

block pageTitle
  title Empresas e Organizações | Inovação Formativa

block sectionBanner
  +sectionOrganism("PARA EMPRESAS E","ORGANIZAÇÕES","", "assets/img/docentes.webp")