extends ../4templates/base
include ../3organisms/section_banner

block pageTitle
  title Empresas e Organizações | Inovação Formativa

block sectionBanner
  +sectionOrganism("PARA EMPRESAS E","ORGANIZAÇÕES","", "assets/img/empresas.webp")

  include ../3organisms/base_section
  block baseSection
    +baseSection("SISTEMA DE APOIO À CO-CRIAÇÃO DE INOVAÇÃO, CRIATIVIDADE E EMPREENDEDORISMO", "LINK ME UP – 1000 IDEAS", "Esta iniativa é estabelecida em conjunto com os politécnicos portugueses, o Governo de Portugal e a Demola Global. Ao construir uma ponte entre os decisores de hoje e de amanhã, visamos uma capacidade melhorada e mais democratizada de reagir às mudanças da sociedade. Os projetos de cocriação ajudam as empresas e organizações a explorar os futuros impactos e forças motrizes. A participação em projetos de cocriação ajuda a compreender as necessidades futuras dos produtos ou serviços de uma empresa e explorar as mudanças no comportamento dos consumidores, ajudando-as, assim, a construir negócios “à prova de futuro”.")