extends ../4templates/base
include ../3organisms/section_banner

block pageTitle
  title Equipa IF | Inovação Formativa

block sectionBanner
  +sectionOrganism("A NOSSA EQUIPA","","", "assets/img/equipa.webp")


  include ../3organisms/base_section
  block baseSection
    +baseSection("O QUE OFERECEMOS", "Descobre a quem faz parte da organização deste projeto", "O Grupo de Trabalho para a Inovação Formativa (GTIF) existe com o intuito de promover e valorizar o desenvolvimento e a inovação dos modelos de ensino-aprendizagem. O GTIF colabora com todas as unidades orgânicas do IPB na criação de oportunidades de formação, reflexão e implementação de ações formativas dirigidas a docentes, discentes, investigadores e técnicos. Esta estrutura pretende dar suporte a todos os docentes e estudantes do Instituto Politécnico de Bragança (IPB) na implementação de metodologias ativas, de proximidade ao contexto real de trabalho, em sinergia com empresas e instituições da região. Os atuais planos de estudos do IPB já envolvem componentes práticas apreciadas pelos estudantes, no que respeita à sua aproximação ao mercado de trabalho e à utilização de metodologias de ensino e aprendizagem inovadoras, as quais o GTIF ajudará a disseminar. Há ainda espaço para promover desafios de diferentes níveis de complexidade, individuais e coletivos, bem como assegurar a formação do corpo docente nestas temáticas em parceria com instituições e organizações internacionais de referência.")

  include ../3organisms/section_equipa_if
  
  include ../3organisms/index_section_cta
  include ../3organisms/index_section_testemunhos
  include ../3organisms/index_section_parceiros