//Header
header#header.header.d-flex.align-items-center.fixed-top
  .container-fluid.container-xl.d-flex.align-items-center.justify-content-between
    include ../2molecules/nav
    i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
    i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x
//End Header
    
