//Call to Action Section
section.section-cta
  .left-section
    h3.h3-cta Quer se juntar a nós
    p.p-cta
      | A participação em projetos de cocriação ajuda a compreender as necessidades futuras dos produtos ou serviços de uma empresa e explorar as mudanças no comportamento dos consumidores, ajudando-as, assim, a construir negócios “à prova de futuro”.
  .right-section
    a.link-cta(href='#') Juntar-me Agora >
// End Call To Action Section
