//Hero Section
section#hero.hero.d-flex.align-items-center
    .container
        .row
          .col-xl-4
            h1.home-h1 10%
            h2.home-h2 ESCOLHES TU
            blockquote
              p.home-p O modelo 10% Escolhes tu! Permite uma 
                b aproximação ao mundo do trabalho
                | , e também a 
                b flexibilização dos percursos educativos.
                |  Envolve desafios de diferentes níveis de complexidade, utilizando
                b  diversas metodologias de ensino e aprendizagem
                | . 10% Escolhes tu! Permite a cada estudante escolher um percurso formativo alternativo para até 10% do total de créditos do seu plano de estudos.
// End Hero Section