//Estratégias Section
section.container-fluid(style="height: 915px; background-color: #FBF6F8;")
      .row.justify-content-center
        .col-12.text-center
          h3.h3-at O GTIF definiu seis ações estratégicas
        .col-12.text-center.mt-5
          h2.h2-at DINAMIZAR
      .row.justify-content-center
        .col-12
          .owl-carousel.owl-theme.container
            .item
              h5.h5-at Promover
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
            .item
              h5.h5-at Dinamizar
              h4.h4-at Dinamizar alterações curriculares
              p.p-at Dinamizar alterações curriculares para um maior envolvimento dos estudantes com o mundo do trabalho (durante a formação) e flexibilização dos seus percursos educativos
            .item
              h5.h5-at Desenvolver
              h4.h4-at Desenvolver iniciativas curriculares e extracurriculares
              p.p-at Desenvolver iniciativas curriculares e extracurriculares para o desenvolvimento de competências transversais e profissionais durante a formação dos estudantes
            .item
              h5.h5-at Promover4
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
            .item
              h5.h5-at Promover5
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
            .item
              h5.h5-at Promover6
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
            .item
              h5.h5-at Promover7
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
            .item
              h5.h5-at Promover8
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
            .item
              h5.h5-at Promover9
              h4.h4-at Promover e incentivar a formação docente.
              p.p-at Promover e incentivar a formação docente em metodologias formativas que respondam aos desafios atuais
//End Estratégias Section