//Parceiros Section
section(style="background-color: white;")
  .container
    .row
      .col-6
        img(src="assets/img/parceiros1.webp" style="margin: 16px 0;")
      .col-6
        img(src="assets/img/parceiros1.webp" style="margin: 16px 0;")
// End Parceiros Section