// Inovação Formativa Section
section.second-carousel
  .container
    .row
      .col-12.text-center
        h3.h3-if Escolhes Tu
        h2.h2-if Inova&ccedil;&atilde;o Formativa
        p.p-if-section
          | A resposta a todos esses desafios exige um portfolio variado de ferramentas, que pretendemos agregar neste espa&ccedil;o.
      .col-12.text-center
        .filters
          button.filter-btn.active(data-filter="all") Todos
          button.filter-btn(data-filter="3") 3 ECTS
          button.filter-btn(data-filter="6") 6 ECTS
    .row
      .col-12
        .owl-carousel.owl-theme.second-carousel-items
          .item-if(data-filter="3")
            img(src="assets/img/teste.webp" image="")
            .overlay
              h4.h4-if Item 1
              p.p-if Description 1
              a.cta-btn-if(href="#") Juntar-me agora
          .item-if(data-filter="6")
            img(src="assets/img/teste.webp" alt="Image 2")
            .overlay
              h4.h4-if Item 1
              p.p-if Description 1
              a.cta-btn-if(href="#") Juntar-me agora
          .item-if(data-filter="3")
            img(src="assets/img/teste.webp" alt="Image 3")
            .overlay
              h4.h4-if Item 1
              p.p-if Description 1
              a.cta-btn-if(href="#") Juntar-me agora
          .item-if(data-filter="6")
            img(src="assets/img/teste.webp" alt="Image 4")
            .overlay
              h4.h4-if Item 1
              p.p-if Description 1
              a.cta-btn-if(href="#") Juntar-me agora
          .item-if(data-filter="6")
            img(src="assets/img/teste.webp" alt="Image 4")
            .overlay
              h4.h4-if Item 1
              p.p-if Description 1
              a.cta-btn-if(href="#") Juntar-me agora
          .item-if(data-filter="6")
            img(src="assets/img/teste.webp" alt="Image 4")
            .overlay
              h4.h4-if Item 1
              p.p-if Description 1
              a.cta-btn-if(href="#") Juntar-me agora
// End Estratégias Section
