//Testemunhos Section
section#testemunhos.testemunhos(style="background-image: url(assets/img/fundo3.webp);")
  .row.align-items-center
    .col-lg-6.text-left
      h3.h3-testemunhos TESTEMUNHOS
      h2.h2-testemunhos O QUE OS ALUNOS DIZEM
    .col-lg-6.text-right
      span#current-item-number 1
      hr.hr-testemunhos
      span#total-item-number 4
  .row.align-items-center
    .col-lg-6
      img.rounded-img(src="assets/img/aluna1.webp")
    .col-lg-6
      p.p-testemunhos
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin, quam vel tincidunt porta, risus ipsum bibendum lacus, a commodo risus ipsum vitae nisi.
      h3.h3-testemunhos2 Nome do Aluno
  .row
    .col-12.d-flex.justify-content-center
      button.owl-prev.botao-testemunhos1 <
      button.owl-next.botao-testemunhos2 >
//End Testemunhos Section