section#team.equipa
  .container
    .section-header
      h3.h3-equipa ORGANIZA&Ccedil;&Atilde;O DO PROJETO
      h2.h2-equipa A Nossa Equipa
      p.p-equipa OS membros abaixo s&atilde;o os organizadores deste projeto
    .row.gy-4
      .col-lg-3.col-md-6
        .team-member.membro-equipa
          .member-img
            img.img-fluid.img-equipa(src='assets/img/team-1.webp' alt='')
          .member-info
            h4 Walter White
            a.link-equipa(href='mailto:teste@teste.pt') teste@teste.pt
      // End Team Member
      .col-lg-3.col-md-6
        .team-member.membro-equipa
          .member-img
            img.img-fluid.img-equipa(src='assets/img/team-2.webp' alt='')
          .member-info
            h4 Sarah Jhonson
            a.link-equipa(href='mailto:teste@teste.pt') teste@teste.pt
      // End Team Member
      .col-lg-3.col-md-6
        .team-member.membro-equipa
          .member-img
            img.img-fluid.img-equipa(src='assets/img/team-3.webp' alt='')
          .member-info
            h4 William Anderson
            a.link-equipa(href='mailto:teste@teste.pt') teste@teste.pt
      // End Team Member
      .col-lg-3.col-md-6
        .team-member.membro-equipa
          .member-img
            img.img-fluid.img-equipa(src='assets/img/team-4.webp' alt='')
          .member-info
            h4 Amanda Jepson
            a.link-equipa(href='mailto:teste@teste.pt') teste@teste.pt
      // End Team Member
// End Team Section
